/* List view */
.list-view .content {
display: flex;
}
.list-view .grid-estudiante {
flex: 2;
}
.list-view .estudiante-form {
flex: 1;
padding: var(--lumo-space-m);
}
@media all and (max-width: 1100px) {
.list-view.editing .toolbar,
.list-view.editing .grid-estudiante {
display: none;
    }
}

a[highlight] {
font-weight: bold;
text-decoration: underline;
}
.header {
padding: 0 var(--lumo-space-m);
}
.header h1.logo {
font-size: 1em;
margin: var(--lumo-space-m);
}

/* Estilos personalizados para el formulario */
form-layout {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

vaadin-text-field, vaadin-password-field {
    width: 100%;
}

vaadin-button {
    background-color: #007bff;
    color: white;
}

vaadin-button:hover {
    background-color: #0056b3;
}